*, *::before, *::after {
    box-sizing: border-box;
    line-height: 1.75;
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    background-color: #EEEEEE;
    color: #000000;

    img {
        width: 100%;
        height: auto;
    }

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: inherit;
        text-decoration: inherit;
        font-weight: inherit;
    }

    header {
        width: 100%;
        margin: 0 auto;

        ul {
            height: 80px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style: none;

            li {
                height: 60%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1.5rem;
                margin: 0 0.5rem;
                text-transform: uppercase;
                transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
                color: #658864;
                background-color: #DDD;
            }

            li::before,
            li::after {
                content: "";
                pointer-events: none;
                position: absolute;
                border: 0 solid transparent;
                width: 0;
                height: 0;
                bottom: 0;
                right: 0;
            }

            li::before {
                border-bottom-width: 2px;
                border-left-width: 2px;
            }

            li::after {
                border-top-width: 2px;
                border-right-width: 2px;
            }

            li:hover::before,
            li:hover::after {
                border-color: #B7B78A;
                transition: border-color 0s, width 0.3s, height 0.3s;
                width: 100%;
                height: 100%;
            }

            li:hover::before {
                transition-delay: 0s, 0s, 0.3s;
            }

            li:hover::after {
                transition-delay: 0s, 0.3s, 0s;
            }
        }

        #backButton {
            position: fixed;
            display: block;
            bottom: 3vh;
            right: 4vh;
        }
    }

    main {
        .greeting {
            color: transparent;
            animation: blur 3s ease-out;
        }

        .greeting:nth-child(1) {
            animation-delay: 0.1s;

        }

        .greeting:nth-child(2) {
            animation-delay: 0.25s;
        }

        .greeting:nth-child(3) {
            animation-delay: 0.375s;
        }

        .greeting:nth-child(4) {
            animation-delay: 0.5s;
        }

        .greeting:nth-child(5) {
            animation-delay: 0.625s;
        }

        .greeting:nth-child(6) {
            animation-delay: 0.75s;
        }

        @keyframes blur {
            0%		{text-shadow:  0 0 100px #000; opacity:0;}
            5%		{text-shadow:  0 0 90px #000;}
            15%		{opacity: 1;}
            20%		{text-shadow:  0 0 0px #658864;}
            80%		{text-shadow:  0 0 0px #658864;}
            85%		{opacity: 1;}
            95%		{text-shadow:  0 0 90px #000;}
            100%	{text-shadow:  0 0 100px #000; opacity:0;}
        }

        .hidden {
            opacity: 0;
            filter: blur(5px);
            transition: all 1.5s;
        }

        .fromSide {
            transform: translatex(-100%);
        }

        .fromBottom {
            transform: translateY(200%);
        }

        .show {
            opacity: 1;
            filter: none;
            transform: translateX(0);
        }

        .delay3s {
            transition-delay: 0.5s;
        }

        .delay5s {
            transition-delay: 0.75s;
        }

        .delay7s {
            transition-delay: 1s;
        }

        .highlight {
            color: #658864;
        }

        #bannerWrap {
            width: 80%;
            height: 70vh;
            margin: 0 auto 25vh auto;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .gridCenter {
                display: grid;
                align-items: center;
                justify-items: center;
                margin: 1.5rem;
            }

            h1 {
                font-size: 2rem;
                text-align: center;
            }
        }

        #aboutWrapper {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: #658864;
            margin-top: 15vh;


            h2 {
                font-size: 1.5rem;
            }

            .about {
                padding: 5%;
                box-shadow: 1rem 1rem 3rem 0.125rem #676767;
                background: #FFF;

                p {
                    padding-left: 5%;
                    text-align: center;
                }
            }
        }

        #projectsWrapper {
            width: 80%;
            margin: 50vh auto 10vh auto;

            h2 {
                font-size: 2.5rem;
                color: #658864;
            }

            .projects {
                padding: 10vh 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                column-gap: 2rem;

                .project {
                    box-shadow: 1rem 1rem 3rem 0.125rem #676767;
                    padding: 1rem;
                    display: grid;
                    grid-template-rows: 1fr 25vh 4fr 1fr;
                    align-items: center;
                    justify-content: center;
                    height: 80vh;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    max-width: 350px;
                    border-radius: 10px;

                    h3 {
                        color: #658864;
                        text-align: center;
                        grid-row: 1 / 2;
                        margin: 0;
                        font-style: italic;
                        font-size: 2rem;
                    }

                    img {
                        width: 90%;
                        height: auto;
                        margin: 0 auto;

                        box-shadow: 1rem 1rem 3rem 0.125rem #676767;
                        grid-row: 2 / 3;
                        align-self: stretch;
                    }

                    p {
                        grid-row: -3 / -2;
                        width: 80%;
                        margin: auto;
                    }

                    .icons {
                        grid-row: -2 / -1;
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;

                        a {
                            padding: 0.5rem;
                            cursor: pointer;
                            position: relative;
                            color: #658864;
                        }

                        a:hover {
                            color: #658864;
                        }

                        a::before,
                        a::after {
                            content: "";
                            pointer-events: none;
                            position: absolute;
                            border: 0 solid transparent;
                            width: 0;
                            height: 0;
                            bottom: 0;
                            right: 0;
                        }

                        a::before {
                            border-bottom-width: 2px;
                            border-left-width: 2px;
                        }

                        a::after {
                            border-top-width: 2px;
                            border-right-width: 2px;
                        }

                        a:hover::before,
                        a:hover::after {
                            border-color: #B7B78A;
                            transition: border-color 0s, width 0.3s, height 0.3s;
                            width: 100%;
                            height: 100%;
                        }

                        a:hover::before {
                            transition-delay: 0s, 0s, 0.3s;
                        }

                        a:hover::after {
                            transition-delay: 0s, 0.3s, 0s;
                        }
                    }
                }
            }
        }
    }

    footer {
        background-color: #658864;
        color: #EEE;
        display: flex;
        justify-content: space-around;
        height: 15vh;

        h2 {
            align-self: center;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
}

@media only screen and (min-width: 500px) {
   body {
       header {
           position: fixed;
           top: 0;
           z-index: 1;
           display: grid;
           grid-template-columns: 1fr 1fr;
           background-color: #DDDDDD;

           ul {
               grid-column: 2 / 3;
           }

           #backButton {
               font-size: 2rem;
               bottom: 5vh;
               right: 5vh;
           }
       }

       //TODO: dig into landscape and sort this out

       //main {
       //    #bannerWrapper {
       //        margin-top: 25vh;
       //    }
       //}
   }
}