*, *::before, *::after {
  box-sizing: border-box;
  line-height: 1.75;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  background-color: #EEEEEE;
  color: #000000;
}
body img {
  width: 100%;
  height: auto;
}
body a,
body a:link,
body a:visited,
body a:hover,
body a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
body header {
  width: 100%;
  margin: 0 auto;
}
body header ul {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
body header ul li {
  height: 60%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin: 0 0.5rem;
  text-transform: uppercase;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #658864;
  background-color: #DDD;
}
body header ul li::before,
body header ul li::after {
  content: "";
  pointer-events: none;
  position: absolute;
  border: 0 solid transparent;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
body header ul li::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}
body header ul li::after {
  border-top-width: 2px;
  border-right-width: 2px;
}
body header ul li:hover::before,
body header ul li:hover::after {
  border-color: #B7B78A;
  transition: border-color 0s, width 0.3s, height 0.3s;
  width: 100%;
  height: 100%;
}
body header ul li:hover::before {
  transition-delay: 0s, 0s, 0.3s;
}
body header ul li:hover::after {
  transition-delay: 0s, 0.3s, 0s;
}
body header #backButton {
  position: fixed;
  display: block;
  bottom: 3vh;
  right: 4vh;
}
body main .greeting {
  color: transparent;
  animation: blur 4s ease-out;
}
body main .greeting:nth-child(1) {
  animation-delay: 0.2s;
}
body main .greeting:nth-child(2) {
  animation-delay: 0.5s;
}
body main .greeting:nth-child(3) {
  animation-delay: 0.75s;
}
body main .greeting:nth-child(4) {
  animation-delay: 1s;
}
body main .greeting:nth-child(5) {
  animation-delay: 1.25s;
}
body main .greeting:nth-child(6) {
  animation-delay: 1.5s;
}
@keyframes blur {
  0% {
    text-shadow: 0 0 100px #000;
    opacity: 0;
  }
  5% {
    text-shadow: 0 0 90px #000;
  }
  15% {
    opacity: 1;
  }
  20% {
    text-shadow: 0 0 0px #658864;
  }
  80% {
    text-shadow: 0 0 0px #658864;
  }
  85% {
    opacity: 1;
  }
  95% {
    text-shadow: 0 0 90px #000;
  }
  100% {
    text-shadow: 0 0 100px #000;
    opacity: 0;
  }
}
body main .hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 3s;
}
body main .fromSide {
  transform: translatex(-100%);
}
body main .fromBottom {
  transform: translateY(200%);
}
body main .show {
  opacity: 1;
  filter: none;
  transform: translateX(0);
}
body main .delay3s {
  transition-delay: 1s;
}
body main .delay5s {
  transition-delay: 1.5s;
}
body main .delay7s {
  transition-delay: 2s;
}
body main .highlight {
  color: #658864;
}
body main #bannerWrap {
  width: 80%;
  height: 70vh;
  margin: 0 auto 25vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #bannerWrap .gridCenter {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 1.5rem;
}
body main #bannerWrap h1 {
  font-size: 2rem;
  text-align: center;
}
body main #aboutWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #658864;
  margin-top: 15vh;
}
body main #aboutWrapper h2 {
  font-size: 1.5rem;
}
body main #aboutWrapper .about {
  padding: 5%;
  box-shadow: 1rem 1rem 3rem 0.125rem #676767;
  background: #FFF;
}
body main #aboutWrapper .about p {
  padding-left: 5%;
  text-align: center;
}
body main #projectsWrapper {
  width: 80%;
  margin: 50vh auto 10vh auto;
}
body main #projectsWrapper h2 {
  font-size: 2.5rem;
  color: #658864;
}
body main #projectsWrapper .projects {
  padding: 10vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 2rem;
}
body main #projectsWrapper .projects li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 300px;
}
body main #projectsWrapper .projects .project {
  box-shadow: 1rem 1rem 3rem 0.125rem #676767;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 25vh 4fr 1fr;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}
body main #projectsWrapper .projects .project h3 {
  color: #658864;
  text-align: center;
  grid-row: 1/2;
  margin: 0;
}
body main #projectsWrapper .projects .project img {
  box-shadow: 1rem 1rem 3rem 0.125rem #676767;
  grid-row: 2/3;
  align-self: stretch;
}
body main #projectsWrapper .projects .project p {
  grid-row: -3/-2;
  width: 80%;
  margin: auto;
}
body main #projectsWrapper .projects .project .icons {
  grid-row: -2/-1;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
body main #projectsWrapper .projects .project .icons a {
  padding: 0.5rem;
  cursor: pointer;
  position: relative;
  color: #658864;
}
body main #projectsWrapper .projects .project .icons a:hover {
  color: #658864;
}
body main #projectsWrapper .projects .project .icons a::before,
body main #projectsWrapper .projects .project .icons a::after {
  content: "";
  pointer-events: none;
  position: absolute;
  border: 0 solid transparent;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
body main #projectsWrapper .projects .project .icons a::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}
body main #projectsWrapper .projects .project .icons a::after {
  border-top-width: 2px;
  border-right-width: 2px;
}
body main #projectsWrapper .projects .project .icons a:hover::before,
body main #projectsWrapper .projects .project .icons a:hover::after {
  border-color: #B7B78A;
  transition: border-color 0s, width 0.3s, height 0.3s;
  width: 100%;
  height: 100%;
}
body main #projectsWrapper .projects .project .icons a:hover::before {
  transition-delay: 0s, 0s, 0.3s;
}
body main #projectsWrapper .projects .project .icons a:hover::after {
  transition-delay: 0s, 0.3s, 0s;
}
body footer {
  background-color: #658864;
  color: #EEE;
  display: flex;
  justify-content: space-around;
  height: 15vh;
}
body footer h2 {
  align-self: center;
}
body footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media only screen and (min-width: 500px) {
  header {
    position: fixed;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #DDDDDD;
  }
  header ul {
    grid-column: 2/3;
  }
  header #backButton {
    font-size: 2rem;
    bottom: 5vh;
    right: 5vh;
  }
}

/*# sourceMappingURL=styles.css.map */
